* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header{
    width :1000px;
    background: cornflowerblue
}
aside{
    float:left;
    width : 150px;
    height : 500px;
    background: skyblue;
}
section{
    float:left;
    width : 700px;
    height : 500px;
    background : whitesmoke;
}
footer{
    width : 1000px;
    height : 50px;
    background:cornflowerblue;
    clear : left
}