thead {
    color : orangered;
    background : bisque;
}

.tr1 td{
    color : purple;
    background : darkcyan;

}

.tr2 td{
    color : red;
    background : gray;
}

th{
    color: purple;
    background : beige; 
}
tfoot{
    color : darkcyan;
    background: darkblue
}