*{
    width : 100%;
    height : 100%;
    margin:0;
    padding:0;
    background: yellow;
    overflow: hidden;
}
#cover>i{
    display : flex;
    justify-content: center;
    align-items: center;
    font-size : 100px;
}

#alert{
    display: none;
}