html{
    border: dashed darkgoldenrod 5px;
    height :98%;
    width : 98%
}

body { 
    margin : 10px,50px;
    height :88%;
    width : 88%;
    background-image:url("bird.png"); 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: left bottom; 
    background-size: 300px 200px; 
    
}
body:hover {
    background-image:url("clock_150.jpg"); 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: left bottom; 
    background-size: 300px 200px;
}

div{
    border-style : none none solid;
    border-color : red;
    width : 600px;
    margin: auto 100px;
}
h3{
    text-align: center;
}