body{
  background-color: lightgrey;
  width: 400px;
  height : 200px;
}
div{
  margin: 10px 30px;
  padding: 0px 40px;
}
table{
  table-layout: auto;  
  empty-cells: show; 
  border-spacing: 5px; 
  border-collapse: collapse; 
  width : 300px;
  height : 100px;
  margin : 1em auto;
}
table, td{  
  border : solid;
  border-color: fuchsia;
  text-align: center;
}

h1{
  text-align: center;
}
label{
  margin : 0px 45px 0px 0px
}
input { 
  width: 170px;
  height : 20px;
  padding: 0 auto; 
  margin: 0 auto; 
  box-sizing: border-box; 
  position: relative; left : 5px; bottom : 1px;
  border-radius: 40px;
  border : none;
}
#name{
  position: relative; left : -3px;
}