body{
    text-align: left;
}

nav{
    background-color : olivedrab;
    width : 80%;
    height : 35px;
}

li{
    display: inline-block;
    margin : 5px 30px 0 0; 
}

a{
    text-decoration: none;
    color :white;
}

a:hover{
    color : pink;
}