body{
    text-align: center;
}

div{
    width:50px;
    height:50px;
    display: inline-block;
    position: relative;
    top: 300px;
    margin : 10px;
    padding :30px;
    border-radius: 50%;
    
}

a{
    position: absolute;
    top: 40px;
    left : 26px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size : 1.5em;
    font-weight : bolder;
    color:purple;
}
a:hover{
    color : white;
}

div:nth-of-type(1){
    background-color: brown
}
div:nth-of-type(2){
    background-color: chocolate
}
div:nth-of-type(3){
    background-color: saddlebrown
}