body{
    width : 150;
    height :100;
    padding: 10;
    margin: 10;
}

div{
    display : inline-block;
    border : solid;
    width : 50px;
    height :20px;
    padding: 30px;
    margin: 30px;
    border-width: 3px
}

div:nth-of-type(1){
    border-style : groove;
    border-color : yellow;
    background-image: url("bird.png");
    background-size: 120%;
    border-width: 10px
}

div:nth-of-type(2){
    border-style : dashed none none;
    background-color : aqua;
}

div:nth-of-type(3){
    border-style : none none double;
    background-color: cadetblue
}