li.lc1{
    color : chartreuse;
}

li.lc2{
    color : darkcyan;
}

li{
    color : saddlebrown;
}

header{
    color : deeppink;
}

ol{
    color : chocolate
}

ul{
    background-color: cornflowerblue;
}
#only{
    color :indigo;
}


/* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><strong>코로나로 불편한 것</strong></h1>
    <hr size = 2px;>

    <ul>
        <li class="lh1"><h1><strong>모임 불가</strong></h1>
            <ul>
                <li>동아리 모임</li>
                <li>동호회 모임</li>
                <li>친구 모임</li>
            </ul>
        </li>

        <li><h1><strong>여행불가</strong></h1>
            <ol>
                <li>국내여행</li>
                <li>해외여행</li>
                <li>배낭여행</li>
                <li>크루즈여행</li>
            </ol>
        </li>
        <br>
        <li>비대면으로 이루어지는 모든 활동</li>
        <li>기타 불편한 것을 추가해 보세요</li>
    </ul>

    
</body>
</html> */