thead tr {
    color : orangered;
    background : bisque;
}

tbody tr:nth-of-type(2n-1){
    color : red;
    background : gray;

}

tbody tr:nth-of-type(2n){
    color : purple;
    background : darkcyan;

}


.tr1 th:nth-of-type(1){
    color: purple;
    background : beige; 
}

.tr1 th:nth-of-type(2){
    color: purple;
    background : beige; 
}

.tr1 th:nth-of-type(3){
    color: purple;
    background : beige; 
}

.tr2 th:nth-of-type(1){
    color: purple;
    background : beige; 
}

td[colspan="6"]{
    color : darkcyan;
    background: darkblue
}
